.superAdmin {
    display: none;
}

.admin {
    display: none;
}

.adminOnly {
    display: none;
}

.addBtn {
    display: none;
}

.editBtn {
    display: none;
}

.addForm {
    display: none;
}

.editActivesForm {
    display: none;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.btn-acc {
    background-color: #f5a15d;
    border-color: #f5a15d;
}

.btn-acc:hover {
    background-color: #e9934c;
    border-color: #e9934c;
}

.btn-vm {
    background-color: #6caff7;
    border-color: #6caff7;
}

.btn-vm:hover {
    background-color: #5899df;
    border-color: #5899df;
}

.btn-actives {
    background-color: #9caec2;
    border-color: #9caec2;
}

.btn-actives:hover {
    background-color: #8394a5;
    border-color: #8394a5;
}

.btn-disc {
    background-color: #eecb62;
    border-color: #eecb62;
}

.btn-disc:hover {
    background-color: #e0bb4b;
    border-color: #e0bb4b;
}

.btn-organ {
    background-color: #48cf67;
    border-color: #48cf67;
}

.btn-organ:hover {
    background-color: #3fc25d;
    border-color: #3fc25d;
}

.btn-users {
    background-color: #af87ee;
    border-color: #af87ee;
}

.btn-users:hover {
    background-color: #a076e4;
    border-color: #a076e4;
}

.btn-cat {
    background-color: #ce0015b0;
    border-color: #ce0015b0;
}

.btn-cat:hover {
    background-color: #bd1122b0;
    border-color: #bd1122b0;
}

.btn-bill {
    background-color: #383333f1;
    border-color: #383333f1;
}

.btn-bill:hover {
    background-color: #3d3838;
    border-color: #3d3838;
}

.account {
    color: #ffffff;
    background: #f5a15d;
}

.vm {
    color: #ffffff;
    background: #6caff7;
}

.actives {
    color: #ffffff;
    background: #798797;
}

.disc {
    color: #ffffff;
    background: #eecb62;
}

.organ {
    color: #ffffff;
    background: #48cf67;
}

.users {
    color: #ffffff;
    background: #af87ee;
}

.cat {
    color: #ffffff;
    background: #ce0015b0;
}

.bill {
    color: #ffffff;
    background: #383333;
}

.row-btns {
    margin-top: 0.5rem;
}

.iconAccount {
    content: url('../../images/png/account.png');
    height: 20px;
    width: 20px;
    display: block;
}

.iconVM {
    content: url('../../images/png/vm.png');
    height: 20px;
    width: 20px;
    display: block;
}

.iconDisc {
    content: url('../../images/png/disc.png');
    height: 20px;
    width: 20px;
    display: block;
}

.iconOrgan {
    content: url('../../images/png/organisation.png');
    height: 20px;
    width: 20px;
    display: block;
}

.iconUsers {
    content: url('../../images/png/users.png');
    height: 20px;
    width: 20px;
    display: block;
}

.iconCat {
    content: url('../../images/png/category.png');
    height: 20px;
    width: 20px;
    display: block;
}

.iconBill {
    content: url('../../images/png/bill.png');
    height: 20px;
    width: 20px;
    display: block;
}

#filterCard {
    display : none;
}

label {
    margin-top: 0.5rem;
}

.spanStyle {
	font-size: 15px;
	color: red;
	display: none;
	text-align: center;
	padding-top: 10px;
}